.calories {
    display: flex;
    width: 1246px;

    padding: 0 13px;
}

.calories__toggles {
    width: 600px;
}

.calories__title {
    color: $color-super-dark-grey;
    font-family: $main-font;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1.44px;

    span {
        color: $color-green;
    }
}

.calories__content {
    width: 470px;

    color: $color-super-dark-grey;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.54px;
}
