.diet {
    min-height: 900px;
    padding-top: 110px;

    text-align: center;
    background-color: $color-dark-white;
    background-image: url("./../../img/diet-back.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.diet__title {
    display: block;
    margin-bottom: 25px;

    color: $color-super-dark-grey;
    font-family: $main-font;
    font-size: 48px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 1.44px;
    span {
        color: #2ecc71;
    }
}

.diet__description {
    max-width: 860px;
    margin: 0 auto;

    color: $color-super-dark-grey;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.54px;
}
