.page-header {
    position: relative;
    min-height: 898px;

    background-color: $color-green;
    background-image: url("https://www.dropbox.com/s/g9l5911lq4viu3r/header-background.png?dl=1");
    background-repeat: no-repeat;
    background-size: 2108px 808px;
    background-position: center 90px;
}

.page-header::after {
    content: "";
    position: absolute;
    width: 155px;
    height: 185px;
    left: 50%;
    bottom: -50px;

    background-image: url("https://www.dropbox.com/s/d4qpkwusrczq1p2/strawberry.png?dl=1");
    background-repeat: no-repeat;
}

.page-header__wrapper {
    width: 1200px;
    padding: 28px 13px 180px 13px;
    margin: 0 auto;
}

.page-header__main-nav {
    margin-bottom: 200px;
}
