$color-green: #2ecc71;
$color-black: #020202;
$color-super-dark-grey: #5a5a5a;
$color-dark-grey: #919191;
$color-medium-grey: #b4b4b4;
$color-light-grey: #e7e7e7;
$color-super-light-grey: #f4f4f4;
$color-dark-white: #f9f9f9;
$color-medium-white: #fefefe;

$main-font: "Roboto", "Arial", sans-serif;
